<div class="article-meta-data">
    <form class="form">
        <div class="form-item">
            <label for="article-title">Title</label>
            <input type="text" id="article-title" value="{{title}}">
        </div>
        <div class="form-item">
            <label for="article-date">Date</label>
            <input type="date" id="article-date" value="{{date}}">
        </div>        
    </form>
</div>
<div class="editor-container">
    <div id="toolbar">

    </div>
    <div id="editor">
        
    </div>
</div>
<div class="editor-actions">
    <form action="" class="form">
        <div class="form-item">
            <input type="checkbox" id="published" value="">
            <label for="published">Published</label>
        </div>
        <br>
        <button type="button" id="save">Save</button>
        <button type="button" id="back">Back</button>
    </form>
</div>